body{
    background-image: url(Photos/wallet-3200395_1920.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
}
.navi{
    top: 0;
    padding: 10px 0 30px 0;
    position: sticky;
}

.navi nav{
    overflow: hidden;
    background: rgba(255, 255, 255, 0.829);
    height: 50px;
}

.navi nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.829);
}

.navi nav ul a{
    font-size: 17px;
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-right: -4.5px;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.navi nav ul a:hover{
    background: rgb(207, 207, 207);
}

.active{
    background-color: rgb(75, 186, 230);
}

.contact{
    width: 70%; 
    margin: auto;
}

.contact-head{
    background: rgba(255, 255, 255, 0.863);
    border-bottom: 2px solid rgb(21, 145, 202);
    text-align: center;
    height: 50px;
    width: 100%;
    margin: auto;
}

.contact-head-p{
    font-size: 20px;
    margin: 30px 0 30px 0;
    text-align: center;
}

.contact-head h1{
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0;
}
.div-body{
    width: 60%;
    margin: auto;
}

.div-body-head{
    margin-bottom: 13px;
}

.div-body-p{
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 2px;
    margin-top: 0px;
}

.div-container{
    background: rgba(255, 255, 255, 0.856);
    overflow: hidden;
    max-width: 100%;
    padding: 20px;
    margin: auto;
}


.div-element{
    border-left: 10px solid rgb(58, 172, 218);
    border-right: 10px solid rgb(58, 172, 218);
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.div-element::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-left: 18px solid rgb(58, 172, 218);
    border-bottom: 10px solid transparent;
}

.div-head h4{
    margin: 0 0 0 30px;
    color: rgb(0, 0, 0);
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.288);
    background-position: 0% 0%;
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0px;
}

.homenav-social{
    background: rgba(255, 255, 255, 0.575);
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-top: 50px; 
    background: none;
}

.homenav-social nav ul :hover{
    opacity: 0.8;
}

.homenav-social nav ul img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

ul{
    margin: 0;
    padding: 0;
    height: 50px;
    list-style-type: none;
}